.filter-label{
    display: block!important;

}[aria-label="Type sortable"]{
    text-align: -webkit-center;
    /* width: 42px; */
    max-width: 50px;

}[aria-label="Status sortable"]{
    text-align: -webkit-center;
    /* width: 42px; */
    /* max-width: 100px; */

}[aria-label="Action sortable"]{
    text-align: -webkit-center;
    /* width: 42px; */
  

}[aria-label="Type sort desc"]{
    text-align: -webkit-center;
    /* width: 42px; */
    max-width: 50px;

}[aria-label="Status sort desc"]{
    text-align: -webkit-center;
    /* width: 42px; */
    /* max-width: 100px; */

}[aria-label="Action sort desc"]{
    text-align: -webkit-center;
    /* width: 42px; */
  

}[aria-label="Type sort asc"]{
    text-align: -webkit-center;
    /* width: 42px; */
    max-width: 50px;

}[aria-label="Status sort asc"]{
    text-align: -webkit-center;
    /* width: 42px; */
    /* max-width: 100px; */

}[aria-label="Action sort asc"]{
    text-align: -webkit-center;
    /* width: 42px; */
  

}[aria-label="Name sortable"]{
    text-align: -webkit-center;
    /* width: 42px; */
    max-width: 120px;

}[aria-label="Name sort desc"]{
    text-align: -webkit-center;
    /* width: 42px; */
    max-width: 120px;

}[aria-label="Name sort asc"]{
    text-align: -webkit-center;
    /* width: 42px; */
    max-width: 120px;

}