@media all and (min-width: 480px) {
    .Login {
     
      width: 100%;
        margin: 0;
       
        /* padding: 200px 0; */
        font-family: sans-serif;
        background: linear-gradient(to right, #b92b27, #1565c0)
    
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }


 