.dob{
   width: 760px;
   height: 35px;
   border-radius: 5px;
   border:1px solid #ced4da;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.react-datepicker-wrapper {
    display: block;
    padding: 0;
    border: 0;
}